@model IndiviualLabA.Data.CustomUser

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserName" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <label><b>@Model.UserName</b></label>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
            @if (ViewBag.Status != "")
            {
                @Html.Raw(ViewBag.Status)
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
